In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('bike_demand.csv')

In [4]:
df.columns

Index(['datetime', 'year', 'month', 'day', 'hour', 'season', 'holiday',
       'workingday', 'weather', 'temperature', 'feel_temperature', 'humidity',
       'windspeed', 'casual', 'registered', 'total'],
      dtype='object')

In [32]:
holidates = pd.DataFrame(sorted(df[df.holiday==1]['datetime']), columns=['Datetime'])
holidates.head()
holidates['Date'] = holidates.apply(lambda x: x.dates())
holidates

AttributeError: ("'Series' object has no attribute 'dates'", 'occurred at index Datetime')

In [9]:
compareDict = {
    'season':{1:"Spring", 2:"Summer",3:"Autumn",4:"Winter"},
    'weather':{1:"Clear",2:"Mist", 3:"Light Rain/Snow",4:"Heavy Rain/Snow"},
    'month':{1:"Jan",2:"Feb",3:"Mar",4:"Apr",5:"May",6:"Jun",7:"Jul",8:"Aug",9:"Sep",10:"Oct",11:"Nov",12:"Dec"},
    'day':{0:"Mon",1:"Tue",2:"Wed",3:"Thu",4:"Fri",5:"Sat",6:"Sun"},
    'holiday':{0:"Not Holiday", 1:"Holiday"}
    }

In [17]:
compareDict['season'].values()

dict_values(['Spring', 'Summer', 'Autumn', 'Winter'])

In [24]:
df.columns

Index(['datetime', 'year', 'month', 'day', 'hour', 'season', 'holiday',
       'workingday', 'weather', 'temperature', 'feel_temperature', 'humidity',
       'windspeed', 'casual', 'registered', 'total'],
      dtype='object')

In [ ]:
['year', 'month', 'day', 'hour', 'season', 'holiday','workingday', 'weather', 'temperature', 'feel_temperature', 'humidity','windspeed', 'total']

In [26]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [29]:
df.set_index('datetime', inplace=True)

In [30]:
df.head()

,year,month,day,hour,season,holiday,workingday,weather,temperature,feel_temperature,humidity,windspeed,casual,registered,total
datetime,,,,,,,,,,,,,,,
2011-01-01 00:00:00,2011,1,5,0,1,0,0,1,9.84,14.395,81,0.0,3,13,16
2011-01-01 01:00:00,2011,1,5,1,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2011-01-01 02:00:00,2011,1,5,2,1,0,0,1,9.02,13.635,80,0.0,5,27,32
2011-01-01 03:00:00,2011,1,5,3,1,0,0,1,9.84,14.395,75,0.0,3,10,13
2011-01-01 04:00:00,2011,1,5,4,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [41]:
df1 = df.resample('H').mean()

In [42]:
df1.isna().sum()

year                165
month               165
day                 165
hour                165
season              165
holiday             165
workingday          165
weather             165
temperature         165
feel_temperature    165
humidity            165
windspeed           165
casual              165
registered          165
total               165
dtype: int64